/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import vars
@import inuit.css/inuit
@import compass

/* Colors
$grey: #EEE
$blue: #0c1f24
$green: #063848
$dgrey: #CCC

/* Generic Rules

h1, h2, h3, h4, h5, h6
  font-family: "Adelle", "Droid Serif", Georgia, serif
  +text-shadow(rgba(255,255,255,0.9) 0 1px 1px)

body
  font-family: "Vera Sans", "Lucida Grande", "Lucida Sans", Tahoma, sans-serif
  background: url('../images/background.jpg') #EEE top center repeat-x
  border-top: 3px solid $blue
  +box-shadow(rgba(255,255,255,0.6) 0 1px 0px inset)
  a
    color: $green 
    border-bottom: 1px dotted $green
    &:hover
      text-decoration: none
      border-bottom: 1px solid $green
  p, ul, ol
    line-height: 1.61em
  ul
    list-style-type: square
  ol
    list-style-type: decimal
  blockquote
    display: block
    clear: both
    border-left: 2px solid #CCC
    padding-left: 1em
    color: #555
    margin-top: 10px
      

.area
  max-width: 650px
  width: auto
  margin: 0 auto 0 auto
  padding: 2em 2em 2em 2em
  overflow: hidden

.headline_area
  text-align: center
  h1
    font-size: 3em
    letter-spacing: -2px

.center
  text-align: center

// All navigations need to expand full on small size screens
@media screen and (max-width: 655px)
  .nav, .nav--fit
    li
      display: block
      width: 95%
      a
        width: 100%
  .nav--fit
    li
      padding-top: 0.5em
      &.fb
        top: 0
  #logo
    background-position: top center
  .headline_area h1
    font-size: 2em

/* Header Area
#header_area
  text-align: center
  .area
    max-width: 900px
    padding-bottom: 0
  .nav
    li
      margin-right: 0.5em
      a
        padding: 0.5em 0.6em
        letter-spacing: 1px
        &.active
          color: #999
          border-bottom: 1px solid $blue

#logo
  text-indent: -9999px
  background: url('../images/logo-inner.png') top left no-repeat
  width: 208px
  height: 50px
  border: none
  padding: 0
  &:hover
    border: none

/* Content Area
#content_area
  border-bottom: 1px solid #FAFAFA
  .area
    padding-top: 0

/* Social Area
#social_area
  background: $green
  color: $grey
  +box-shadow(rgba(0,0,0,0.4) 0 1px 3px 2px inset)
  .area
    max-width: 900px  

  //Coz facebook is nuts
  .fb
    position: relative
    top: -4px
 
  h4
    text-shadow: none
    letter-spacing: 1px 
    text-transform: uppercase
    font-size: 14px


#boastful
  text-align: center
  padding-bottom: 20px

.boastful
  display: inline

  img
    width: 48px
    height: 48px
    margin: 3px
    border: 0
    +border-radius(24px)

  .boastful_pointer
    position: absolute 
    z-index: 999 
    left: -9999px 
    opacity: .7 
    display: none 
    width: 0 
    height: 0 
    border-left: 10px solid transparent  
    border-right: 10px solid transparent 
    border-bottom: 10px solid #000 
    border-top: 0 
  
  .boastful_tweet
    position: absolute 
    z-index: 999 
    left: -9999px 
    background-color: #222 
    opacity: .8 
    padding: 5px 
    width: 250px 
    font-size: 11px 
    text-shadow: 1px 1px 0 #000 
    color: #eee 
    border-radius: 7px 
    -webkit-border-radius: 7px 
    -moz-border-radius: 7px 
  
  .boastful_handle
    font-size: 13px 
    font-weight: bold 
  

  

/* Footer Area
#footer_area
  border-top: 1px solid #FAFAFA
  text-align: center
  font-size: 0.8em

/* Home Specific
.home
  #header
    display: none
  #content_area
    .area
      padding-top: 2em
  #sidebar
    ul
      margin-left: 0
  #content_box
    .post_list 
      list-style-type: none
      list-style-position: inside
      margin-left: 0
      .last
        text-align: center
        font-weight: normal
      .post
        margin-bottom: 0.4em
        border-bottom: 1px solid $dgrey
        text-transform: uppercase
        font-size: 14px
        a
          border: none
          padding: 0.3em 0.2em
          +transition(0.3s)
          &:hover
            background: $green
            color: $grey
            border: none
            padding-left: 0.4em

// Responsive Home
@media screen and (max-width: 655px)
  .home
    #sidebar, #content_box
      width: 100%
    #sidebar
      ul
        li
          margin-bottom: 20px
    #logo
      background-position: top center
      width: 100%
    #content_box
      .post_list
        text-align: center
        .post
          margin: 0.4em 0
          border-bottom: 1px dotted $green

/* Speaking
// Index of Speaking
.talk-list
  margin: 0
  .talk
    clear: both
    margin-bottom: 1.6em
    float: left
    width: 100%
    .talk-date
      float: left
      text-align: right
      width: 20%
      .month
        font-weight: bold
        font-size: 18px
      .year
        color: #999
    .talk-link
      float: right
      width: 79%
      .talk-title
        span
          font-weight: bold
          color: $blue
      .talk-meta
        color: #999
        text-transform: uppercase
        span
          color: $green

.talk-details
  .headline_area
    span
      font-style: italic
      color: #999
    h2
      margin-bottom: 0em
    .place
      text-transform: uppercase
      font-size: 15px
      color: $green
      letter-spacing: 1px
      margin: 0

.talks
  .area
    max-width: 860px

#event-main
  text-align: center
#event-sidebar
  text-align: right 
  font-size: 0.9em
  ul
    list-style: none 
