// Divider
// -----------


.divider-1-light-grey {
  border-bottom: 1px solid $light-grey;
  margin-top: 0;
  margin-bottom: 0;
}

.divider-1-off-white {
  border-bottom: 1px solid $off-white;
  margin-top: 0;
  margin-bottom: 0;
}

.divider-2 {
  border-bottom-width: 2px;
  border-color: $light-grey;
  margin-top: 0;
  margin-bottom: 1rem;
}

.divider-4 {
  border-bottom-width: 4px;
  border-color: $off-white;
  margin-top: 0;
  margin-bottom: 0;
}
