// Icons
// ---------

#icon_hamburger {
  width: 24px;
  height: 24px;
  position: relative;
  top: 0.5rem;
  right: 0.5rem;
  float: right;

  svg {
    stroke: $white;
    stroke-width: 2px;
  }
}

.icon--home {
  float: left;
  height: 1rem;
  fill: $blue;
}

.icon--arrow_forward  {
  height: 1rem;
  position: relative;
  top: rem-calc(3);
  fill: $blue;
}
