// Images
// ----

.img {
  display: block;
  width: 100%;
  clear: both;
}

$img-widths: [120, 150, 170];

.post {
  @each $width in $img-widths {
    .img--#{$width}cent {
      > p {
        margin-bottom: 0;
      }

      @include breakpoint(large up) {
        width: $width * 1%;
        margin-left: (100-$width)/2 * 1%;
      }
    }
  }
}

.caption {
  display: block;
  background: $light-grey;
  padding: 0.5em;
  margin-bottom: 2rem;
}
