// Images
// ----

.img {
  display: block;
  width: 100%;
  clear: both;
}

$img-widths: [120, 150, 170];

@each $width in $img-widths {
  .img--#{$width}cent {

    @include breakpoint(large up) {
      width: $width * 1%;
      margin-left: (100-$width)/2 * 1%;
    }
  }
}
