
.text--dark {
  color: $white;
  background: $black;
}

// Paragraph Styles

// Subheaders
.subheader {
  font-color: $dark-grey;
  font-size: 1.5rem;
  letter-spacing: -1px;
}

.subheader-2 {
  font-size: 0.75rem;
  margin-bottom: 0;
}


// Highlights
.highlight-1 {
  font-size: 1.2em;
  span {
    background: $black;
    color: $white;
    letter-spacing: -1px;
  }
}
