RewriteEngine On

# Force WWW
RewriteCond %{HTTP_HOST} ^64notes.com [NC]
RewriteRule ^(.*)$ http://www.64notes.com/$1 [L,R=301]

# Remove .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/$ $1.html

# Forces a trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=302,L]

# Redirections
Redirect 301 /speaking/ https://www.kingsidharth.com/speaking/

# Gzip
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>

# Set the cache-control max-age
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
  # 1 Month
  Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

<FilesMatch "\.(xml|txt)$">
  # 2 Days
  Header set Cache-Control "max-age=172800, public, must-revalidate"
</FilesMatch>

<FilesMatch "\.(html|htm)$">
  # 4 Hours
  Header set Cache-Control "max-age=14400, must-revalidate"
</FilesMatch>

# Error Documents
ErrorDocument 404 /404.html

# Protect .ht* files
<Files ~ "^.ht">
  Order allow,deny
  Deny from all
</Files>
