---
layout: post
title: Archives of 64 Notes
slug: archives
---
<ol class="post_list">
  {% for post in site.posts %}
  {% if post.category != 'talks' %}
  <li class="post">
  <a href="{{ post.url }}" class="entry-title">{{ post.title }}</a>
  <div class="post_meta">
    <date class=""><i class="icon icon-calendar"></i>{{ post.date | date: "%d %b %Y" }}</date>
    {% if post.category == 'design' %}<span class="design-post"><i class="icon icon-beaker"></i>Design</span>{%endif%}
  </div>
  </li>
  {% endif %}
  {% endfor %}
</ol>

