---
layout: base
title: Cabinet
slug: archives
---
{% include components/archives_introduction.html %}

<div id="intro_area_2" class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="[ cell small-12 ]">
      <ul class="posts-list">
        {% assign posts = site.posts | exclude_post_category: 'speaking' %}
        {% for post in posts %}
        <li class="post" style="margin-bottom: 32px;">
          {% include posts/post-list-item.html %}
          <hr class="divider-1-off-white">
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
