!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title 64 Notes

    /stylesheets
    <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

    /scripts
    <script type="text/javascript" src="http://use.typekit.net/qwv5oql.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>    

    /meta

    /others

  %body.home
    #header_area
      #header.area
        .gw
          %ul.nav.g.one-whole
            %li.name
              %a#logo{:href=>""} 64 Notes
            %li
              %a{:href=>""} Home
            %li
              %a{:href=>""} About 
            %li
              %a.active{:href=>""} Start Here
            %li
              %a{:href=>""} Speaking
            %li
              %a{:href=>""} Archives
          /.nav-bar
    /#header_area

    #content_area
      #content.area
        .gw
          .g.one-whole
            .headline_area
              %h1
                Business vs. App
          /.headline_area
          .post_content
            %p I've wanted to write this ever since I wrote a comment on HN while <a href="http://news.ycombinator.com/item?id=1987124" target="_blank">discussing Evernote's $800,000 monthly income</a>, someone commented:
            %blockquote "When I see news like this, all I think is that a proportion of Evernotes users must be quite dissatisfied with their services and would switch if there were a better alternative. Then I think - perhaps I should make a better alternative.
            %p I store some of my stuff in Evernote, but it's not convenient for writing. It's too cluttered and distracting for that. I'd like to make something with the storage facilities of evernote, but a much less distracting writing interface." <a href="http://news.ycombinator.com/item?id=1987236" target="_blank">[Original]</a></blockquote>
            %p This was not the first time I saw such a comment. In fact, when I approached <a href="http://twitter.com/utkarshkukreti" target="_blank">Utkarsh</a> with idea of <a href="http://besperk.com" target="_blank">Besperk</a>, for first few discussions he always had "<em>this already exists; why will they come to us?</em>". Or when there was a launch of similar platform / app - we'd ping each other with " :| " emoticons. Early on I didn't have an answer; but now I do. <em>Building an app is not what start-ups do; instead startups solve a problem and build a business around that solution. They can build better apps, but without a better business - there is no real competition. </em> here is what I replied on thread on HN:
            %blockquote "This is the biggest mistake most of the people make. If it worked that way, every weekend app released here would be making tons of money. (We have better apps here as weekend projects than out there in market).But this is NOT app v/s app game. This is business v/s app. And you can't take down a business with an app. You need to create a business.Sure you can build a better 'app' then Evernote or make a better burger than McD's (one of the best in my country at least) but you can't make a better business, the day you do - you are in game.There are many other dynamics too. But just a quick note.(<strong>Note to self</strong>: write a detailed essay about that)" <a href="http://news.ycombinator.com/item?id=1987340" target="_blank">[Original]</a>
            %p I see this point coming back again and again. It's not very hard to build an application. You can pretty much install Elgg or, if you are a programmer, replicate functionality of twitter, facebook or whatever - but that's not what it is about. It's about two things:

            %ol
              %li What is the problem that you are solving.
              %li What is the business behind that.

            %p ...and <em>together </em> they make the complete equation of start-up.
            %h2 Solving a Problem
            %p If you ever happen to meet <a href="http://twitter.com/mbansal14" target="_blank">Mohit</a> (and you should), you'll find him chanting these words religiously "Solve a [pain in the ass] problem." You can have the most amazing app in the world but if it doesn't solve a problem of mine, I am not gonna use it. (Hint: fun is a purpose too, thus Angry Birds - or maybe it solves the problem of taking out frustration)

            %p Don't get me wrong; I totally get those weekend projects for fun. In fact, if you have fun while building something for fun (that also solves some problem) then it can be a great business for you.

            %p You can have the most shittiest technology behind the scenes, but as far as it solves the problem - you are relevant, you are in business. I don't think a huge majority of people who have WordPress blogs actually knows (or care) what goes behind the scene. They don't care whether it's Python or PHP - all they care about is the problem it solves. If something better [easier] comes off - they will move.
            %h2 Business Behind It
            %p And then sell the solution, I really don't have much to say about this since I am also learning about this very part of the game. For geeks, behind the scene is so intoxicating that they<a href="http://blog.asmartbear.com/startups-emotionally-draining.html" target="_blank"> just want to continue with that</a>. That's what separates geeks from entrepreneurs. Geeks / Programmers / Devs. know the technology behind it. And Entrepreneurs know the business (and sometimes technology) behind it.

    /#content_area

    #social_area
      #social.area
        .gw
          %ul.nav#socialshare
            %li.twitter
              <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>       
            %li.fb
              #fb-root
              <div class="fb-like" data-send="true" data-layout="button_count" data-width="1" data-show-faces="false" data-action="recommend"></div>
            %li.gplus
              <div class="g-plusone" data-size="medium" data-count="true"></div>              
          /#socialshare
      /#social.area
    /#social_area

    #footer_area
      #footer.area
      /#footer
    /#footer_area
  /body
  :javascript  
    (function(doc, script) {
      var js, 
          fjs = doc.getElementsByTagName(script)[0],
          frag = doc.createDocumentFragment(),
          add = function(url, id) {
              if (doc.getElementById(id)) {return;}
              js = doc.createElement(script);
              js.src = url;
              id && (js.id = id);
              frag.appendChild( js );
          };
          
        // Google+ button
        add('http://apis.google.com/js/plusone.js');
        // Facebook SDK
        add('http://connect.facebook.net/en_US/all.js#xfbml=1&appId=200103733347528', 'facebook-jssdk');
        // Twitter SDK
        add('http://platform.twitter.com/widgets.js');

        fjs.parentNode.insertBefore(frag, fjs);
    }(document, 'script'));
  
