---
layout: base
title: "64 Notes"
slug: "home"
---
<div id=content_area class="grid">
  <div class=area id=content>
      <div id="latest" class="grid__item one-half palm-one-whole">
        <h2>Latest</h2>
        <ul class='post_list'>
          {% for post in site.posts limit:15 %}
          {% if post.category != 'talks' %}
          <li class="post">
          <a href="{{ post.url }}" class="entry-title">
            <div class="post_meta">
              <date class="">{{ post.date | date: "%d %b %Y" }}</date>
              {% if post.category == 'design' %}<span class="design-post">Design</span>{%endif%}
            </div>
            {{ post.title }}
          </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div><!--
      --><div id="best" class="grid__item one-half palm-one-whole">
        <h2>Greatest</h2>
        <ul class="post_list">
          <li class="post"><a href="/app-vs-business">App vs. Business</a></li>
          <li class="post"><a href="/early-adopters-essay">Early Adopters</a></li>
          <li class="post"><a href="/design/design-and-subsets-essay">The Subsets of Design</a></li>
          <li class="post"><a href="/steal-copy">Stealing is not Copying</a></li>
          <li class="post"><a href="/to-college-or-not-to-college">To College or Not to College</a></li>
          <li class="post"><a href="/ideas-startups-in-betweens">Ideas, Startups & In-Betweens</a></li>
          <li class="post"><a href="/focus">Focus, will you?</a></li>
          <li class="post"><a href="/mistakes-failures">Please Let them Fail &amp; Make Mistakes</a></li>
        </ul>
      </div>
            <p class="grid__unit one-whole center">Want More? <a href="/archives">Dig the Graveyards &rarr;</a></p>
  </div>
</div><!-- #content_area -->

