<div id='social_area' class="grid">
  <div class='area' id='social'>
    <ul class='nav nav--block grid__item one-whole no-bottom-margin' id='socialfollow'>
      <li>Follow on </li>
      <li class='twitter'>
      <a href="https://twitter.com/kingsidharth" target="_blank">@kingsidharth</a>
      </li>
      <li><em> or </em></li>
      <li class='fb'>
      <a href="https://www.facebook.com/kingsidharth" target="_blank">facebook</a>
      </li>
    </ul>
  </div>
  <!-- #social.area -->
</div>
<!-- #social_area -->

<div id='footer_area' class="grid">
  <div class='area' id='footer'>
    <p class="grid__item one-whole">&copy; 2010-14<a href="https://plus.google.com/100630005600562803456/" rel="author">.</a> | <a href="/colophon">Colophon</a></p>
  </div>
  <!-- #footer -->
</div>
<!-- #footer_area -->

<link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic" rel="stylesheet" type="text/css">

<script>
  var documentData = {
    'url': document.URL,
    'title': "{{ page.title }}",
    'category': {% if page.category %}"{{ page.category }}" {% else %} false {% endif %},
    'environment': "{{ site.env }}"
  }
</script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/scripts/payload.js"></script>

<!-- Google Analytics Code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4910697-16']);
  _gaq.push(['_setDomainName', '64notes.com']);
  _gaq.push(['_trackPageview']);
  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
