<div class="grid-x grid-margin-x" id="hero">
  <div class="[ cell small-12 medium-7 medium-offset-5 ]">
    <h2><span class="pre-header">Notes on </span> Startups, Entrepreneurship, Design, &amp; Life</h2>
    <hr>
    <p>Written by <a href="#">@kingsidharth</a>, who is mostly found solving problems at Instamojo.</p>
    <p>Otherwise, speaking to students about entrepreneurship and career-life choices.</p>
    <p>Or at events, startups & companies about design.</p>
  </div>
</div><!-- #hero -->
