// Colors
// ----------

$blue:        rgb(24, 143, 255);

$black:       rgb(80, 85, 97);

$dark-grey:   rgb(121, 125, 137);
$grey:        rgb(177, 183, 197);
$light-grey:  rgb(219, 225, 239);

$off-white:   rgb(243, 246, 255);
$white:       rgb(255, 255, 255);
