// POST

@mixin title {
  font-size: 3em;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 300;
  @include media-query(palm) {
    font-size: 2.2em;
    line-height: 1.3em;
  }
}

.post__title {
  margin-bottom: $base-spacing-unit / 2;
}
h1.post__title {
  @include title;
}

.post__content {
  h2, h3, h4, h5, h6 {
    margin-top: 2.1em;
    margin-bottom: 0.5em;
  }
  h2 {
    font-weight: normal;
    letter-spacing: -1px;
    @include media-query(palm) {
      line-height: 1.3em;
    }
  }
}

.post__meta {
  color: $dgrey;
  margin-bottom: 1em;
  font-weight: 300;
  text-transform: uppercase;
  @include font-size($h5-size);
  @include media-query(desk) {
    @include font-size($h6-size);
  }

  a {
    color: $dgrey;
    border-color: $dgrey;
    &:hover {
      color: $blue;
    }
  }
  em {
    text-transform: none;
  }
  &.event-meta {
    color: $green;
    font-size: 0.7em;
  }
}

.post_list {
  margin-left: 0;
  list-style-type: none;

  .post {
    border-bottom: 1px solid $dgrey;
    padding: 1em 0;
    width: 100%;
    a {
      display: inline-block;
      border-bottom: none;
      border-left: 3px solid $dgrey;
      padding-left: 0.5em;
      width: 100%;
      color: $lblue;
      @include transition(0.3s);
      &:hover {
        border-left-color: $green;
        color: $blue;
      }
    }
    .post__meta {
      font-size: 0.7em;
      margin-bottom: 0px;
    }
  }
  .post__title {
    font-weight: 500;
    margin-bottom: 0px;
  }
}

