/* RESPONSIVE QUERRIES for 64 Notes */

@include media-query(palm) {
  #logo {
    background-position: top center;
    width: 100%;
  }
  #social_area {
    display: none;
  }
  body {
    font-size: 16px;
  }
}
