/* TYPOGRAPHY */
@import "colors";

$font-noto-sans: "Noto Sans", "Lucida Grande", "Lucida Sans", "Segoe UI", sans-serif;
$font-ubuntu: "Ubuntu", "Lucida Grande", "Lucida Sans", sans-serif;

@mixin sans-serif {
  font-family: $font-noto-sans;
}

@mixin ubuntu {
  font-family: $font-ubuntu;
}

body {

  p, ul, ol {
  }

  /* Links */
  a {
    text-decoration: none;
    border-bottom: 1px dotted $blue;

    &:hover, &:active {
      border-bottom-style: solid;
    }
  }

  /* Lists */
  ul, ol {
  }
  ul {
    list-style-type: square;
  }
  ol {
    list-style-type: decimal;
  }

  /* Quote */
  blockquote {
    display: block;
    clear: both;
    border-left: 2px solid $dark-grey;
    padding-left: 1em;
    margin-top: 10px;
    text-indent: 0px;
    color: adjust-lightness($blue, 10%);
  }

  /* Headings */
  h2, h3, h4, h5, h6 {
    @include ubuntu;
    margin-top: 3em;
    margin-bottom: 2em;
  }

  h2 {
    font-weight: normal;
    letter-spacing: -1px;
    // @include media-query(palm) {
    //   line-height: 1.3em;
    // }
  }
}
