/* TYPOGRAPHY */
@import "colors";

$font-noto-sans: "Noto Sans", "Lucida Grande", "Lucida Sans", "Segoe UI", sans-serif;

@mixin sans-serif {
  font-family: $font-noto-sans;
}

body {

  p, ul, ol {
  }

  /* Links */
  a {
    text-decoration: none;
    border-bottom: 1px dotted $grey;
    transition: 0.1s all;

    &:hover, &:active {
      border-bottom-style: solid;
    }
  }

  /* Lists */
  ol {
    list-style-type: decimal;
  }

  /* Headings */
  h2, h3, h4, h5, h6 {
    a {
      border-bottom-width: 0px;
      &:hover {
        border-bottom-width: 0px;
      }
    }
  }

  h2, .h2 {
    font-weight: normal;
    @include breakpoint(medium up) {
      letter-spacing: -1.5px;
    }
  }

  h3, .h3 {
    font-weight: normal;
    text-transform: uppercase;
    @include breakpoint(small only) {
      font-weight: bold;
    }
    @include breakpoint(medium up) {
      letter-spacing: -1px;
    }
  }

  h4, .h4 {
    text-transform: uppercase;
    @include breakpoint(small only) {
      font-weight: bold;
    }
  }

  h5 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    @include breakpoint(small only) {
      font-weight: bold;
    }
  }
}
