

/*--- Color Scheme */
// https://kuler.adobe.com/Felicia_Simon-color-theme-3800845/
$blue: rgb(8, 27, 35);
$lblue: rgb(56, 123, 140);

$grey: rgb(239, 232, 208);

$dgrey: rgb(152, 191, 183);
$green: rgb(114, 167, 161);


/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base stuff
 */
$base-font-size:    18px;
$base-line-height:  1.61*$base-font-size;

/**
 * Base font-family.
 */
$base-font-family:  sans-serif!default;

/**
 * Default colour for objects’ borders etc.
 */
$base-ui-color:     #ccc!default;

/**
 * Tell inuit.css when breakpoints start.
 */
$lap-start:         481px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;



/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */
$brand-color:       #4a8ec2!default;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        3px;



/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
$use-grids:         true;
$use-columns:       true;
$use-nav:           true;
$use-options:       true;
$use-media:         true;
$use-marginalia:    false!default;
$use-island:        false!default;
$use-block-list:    true;
$use-rules:         true;


$default-transition-function: ease-in;

$directions: -top -right -bottom -left;
$resolutions: palm lap portable desk;
$subres: palm lap desk;
