/*----:[IMPORTS]:---- */

@import "settings.foundation";

@import "typography";
@import "colors";

@import "objects/objects";
@import "components/components";

$base-spacing-unit: 8px;

@import "pages/home";


// Selection
::selection {
  color: $off-white;
  background: $black;
}

::-moz-selection {
  color: $off-white;
  background: $black;
}
