/* Includes all of Inuit as standard
 */

/*----:[IMPORTS]:---- */

//@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic)

/* inuit.css [http://inuitcss.com]
 * Initialize inuit.css framework */

@import "../vendor/inuit.css/defaults";
@import "vars";
@import "../vendor/inuit.css/inuit";
@import "compass";
@import "../vendor/helper.inuit.css/helper.inuit.css.scss";

@mixin sans {
  font-family: "Ubuntu", "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
}

/* Generic Rules */

body {
  background: $grey;
  border-top: 3px solid $blue;
  color: $blue;
  @include sans;
  a {
    color: $lblue;
    border-bottom: 1px dotted $lblue;
    text-decoration: none;
    &:hover {
      color: $blue;
      text-decoration: none;
      border-bottom-style: solid;
    }
  }
  p, ul, ol {
    line-height: 1.61em;
  }
  ul, ol {
    @include media-query(palm) {
      margin-left: 10px;
      list-style-position: inside;
    }

    li {
      @include media-query(palm) {
        margin-bottom: 0.5em;
      }
    }
  }
  ul {
    list-style-type: square;
  }
  ol {
    list-style-type: decimal;
  }
  blockquote {
    display: block;
    clear: both;
    border-left: 2px solid $dgrey;
    padding-left: 1em;
    margin-top: 10px;
    color: adjust-lightness($blue, 10%);
  }
  .nav {
    word-spacing: normal;
    letter-spacing: 0px;
  }
}

.area {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

::selection {
  color: $grey;
  background: $lblue;
}

::-moz-selection {
  color: $grey;
  background: $lblue;
}

// All navigations need to expand full on small size screens
@media screen and (max-width: 655px) {
  .nav, .nav--fit {
    li {
      display: block;
      width: 95%;
      a {
        width: 100%;
      }
    }
  }
  .nav--fit {
    li {
      padding-top: 0.5em;
      &.fb {
        top: 0;
      }
    }
  }
  #logo {
    background-position: top center;
  }
  .headline_area h1 {
    font-size: 2em;
  }
}

/* Header Area */
#header_area {
  .area {
    max-width: 900px;
    text-align: center;
    padding-top: $base-spacing-unit * 2;
    padding-bottom: $base-spacing-unit * 2;
    @include media-query(desk) {
      padding-top: $base-spacing-unit * 4;
      padding-bottom: $base-spacing-unit * 4;
    }
  }
  .nav {
    li {
      margin-right: 0.5em;
      &:last-child {
        margin-right: 0px;
      }
      a {
        padding: 0.5em 0.6em;
        letter-spacing: 1px;
        font-size: 0.7em;
        text-transform: uppercase;
        border-color: $green;
        color: $green;
        &:hover {
          border-bottom: 1px solid $green;
          color: $blue;
        }
        &.active {
          color: $dgrey;
          border-bottom: 1px solid $blue;
        }
      }
    }
  }
}

#introduction {
  text-align: left;
  margin-top: $base-spacing-unit;
  padding-top: $base-spacing-unit;
  margin-bottom: 0px;
  font-weight: 300;
  @include font-size($h3-size);
  line-height: 1.65em;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 1em;
    border: 1px solid $lblue;
    width: 4em;
  }
  strong {
    font-weight: normal;
  }
}

#logo {
  text-indent: -9999px;
  display: block;
  background-image: url("../images/64-notes-logo-dark.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  height: 50px;
  border: none;
  padding: 0;
  margin-bottom: 1em;
  width: 100%;
  &:hover {
    border: none !important;
  }

  @include media-query(palm) {
    background-position: center;
  }
}

h1#logo {
  line-height: 0.6em;
  margin-bottom: 0.5em;
}

/*----:[Headline Area]:---- */
#headline_area {
  .area {
    padding: 0;
    max-width: 900px;
    text-align: center;
  }
}

/*----:[Content Area]:---- */
#content_area {
  .area {
    padding-top: 0;
  }
  h2, h3, h4, h5, h6 {
    margin-bottom: 0.7em;
    margin-top: 1.7em;
    line-height: 1.3em;
  }
  h3, h4 {
    font-weight: 300;
  }
}

/* Social Area */
#social_area {
  background: $lblue;
  color: $dgrey;
  text-align: center;
  font-size: 0.9em;
  a {
    color: $grey;
    border-bottom: 1px dotted $dgrey;
    &:hover {
      border-bottom-style: solid;
    }
  }
}

/* Footer Area */
#footer_area {
  background: $blue;
  color: $grey;
  text-align: center;
  font-size: 0.75em;
  font-weight: 300;
  p {
    margin-bottom: 0;
  }
  a {
    color: $grey;
    border-color: $grey;
  }
}

/* Home Specific */
.home {
  //#header
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size: 1em;
  }
  #header_area {
    .area {
      @include media-query(desk) {
        padding-bottom: $base-spacing-unit*2;
      }
    }
  }
  #content_area {
    .area {
      max-width: 900px;
    }
  }
  #sidebar {
    ul {
      margin-left: 0;
    }
  }
}

// Responsive Home
@media screen and (max-width: 655px) {
  .home {
    #sidebar, #content_box {
      width: 100%;
    }
    #sidebar {
      ul {
        li {
          margin-bottom: 20px;
        }
      }
    }
    #content_box {
      .post_list {
        text-align: center;
        .post {
          margin: 0.4em 0;
          border-bottom: 1px dotted $green;
        }
      }
    }
  }
}

/* Speaking */
// Index of Speaking
.talks {
  #headline_area {
    padding-top: 2em;
  }
}

.talk-details {
  .headline_area {
    span {
      font-style: italic;
      font-size: 1.3em;
      color: #999999;
      @include media-query(palm) {
        font-size: 0.8em;
      }
    }
    h1 {
      line-height: 1.2em;
      margin-bottom: 0;
    }
    h2 {
      margin-bottom: 0em;
      letter-spacing: -1px;
      @include media-query(palm) {
        font-size: 1.8em;
      }
    }
    .place {
      text-transform: uppercase;
      font-size: 15px;
      color: $green;
      letter-spacing: 2px;
      @include media-query(palm) {
        font-size: 13px;
      }

      margin: 0;
      .icon {
        padding-right: 5px;
      }
    }
    .date {
      color: #999999;
      text-transform: uppercase;
    }
  }
}

.talks {
  #content_area {
    .area {
      max-width: 860px;
    }
  }
}

.speaking {
  #conteant_area {
    .area {
      max-width: 600px !important;
    }
    h2 {
      text-align: center;
    }
  }
}

#event-main {
  text-align: center;
}

#event-sidebar {
  text-align: right;
  font-size: 0.9em;
  ul {
    list-style: none;
  }
}

/*----:[Archives]:---- */
.archives, .design_archives {
  #content_area {
    .area {
      max-width: 600px;
    }
  }
}

@import "post";
@import "responsive";
