/*----:[IMPORTS]:---- */

//@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic)

/* inuit.css [http://inuitcss.com]
 * Initialize inuit.css framework */

// @import "vars";
@import "settings.foundation";

// @import "../vendor/inuit.css/defaults";
// @import "../vendor/inuit.css/inuit";
// @import "../vendor/helper.inuit.css/helper.inuit.css.scss";

@import "typography";
@import "colors";


$base-spacing-unit: 8px;

.area {
  // max-width: 960px!important;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#logo {
  font-size: $global-font-size;
}


// Selection
::selection {
  color: $off-white;
  background: $black;
}

::-moz-selection {
  color: $off-white;
  background: $black;
}
