/*
  Circular::Components
  Generates classes to render concentric circles
*/

.circular-container {
  position: relative;
}

.circular {
  z-index: -1;
  border-radius: 50%;
  display: block;
  position: absolute;
  border: 1px solid $lighter-grey;
}

$circular-sizes: [6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34];

@each $size in $circular-sizes {
  $index: index($circular-sizes, $size);

  .circular--size-#{$size} {
    padding: $size * 1em;
    top:  2 * ($index - 1) * -1em;
    left: 2 * ($index - 1) * -1em;
  }
}
