// Footer
// ---------

#footer_area {
  font-size: 0.75rem;
}

#footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


#social {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
  #socialfollow {
    margin: 2em 0;
    line-height: 1em;
  }
