// Header::Components
// ----------

#header_area {
  .divider {
    border-bottom: 3px solid $grey;
    margin-bottom: 0;
  }
}

#header {
  overflow: hidden;
  padding: 2.5rem 0;
  @include breakpoint(medium up){
    padding: 3rem 0;
  }

  a {
    border-width: 0px;
  }

  .menu {
    text-transform: lowercase;
  }
}

#logo {
  text-transform: lowercase;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  color: $black;
  transition: 0.2s all;
  margin-bottom: 0px;
  display: block;
  padding: 0.7rem 0rem;
}

#header_area {
  @include breakpoint(small only) {
    margin-bottom: 2rem;
  }
}
