---
layout: base
title: Notes on Design
slug: design_archives
seo_description: "All blogpost on product design, user experience, design management, design framework, and procesess writeen by @kingsidharth"
---
<div id="hero_area" class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="[ cell small-12 ]" id="hero">
      <h1 class="headline">{{ page.title }}</h1>
      <p class="subheader-1">
        on design, user experince, products, design management, and more.
      </p>
    </div>
  </div>

  <hr class="divider-2">
</div>


<div id="content_area" class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="[ cell small-12 ]">

      <ul class="posts-list">
        {% for post in site.categories.design %}
        <li class="post">
          <a href="{{ post.url }}" class="entry-title">

            {% include posts/post-list-item.html %}
            <hr class="divider-1-off-white">

          </a>
        </li>
        {% endfor %}
      </ul><!-- .posts-list -->

    </div>
  </div>
</div><!-- #content_area -->
