---
layout: post
title: Notes on Design 
slug: archives
---
<p>I've been designing since I was in high-school. That'd be around seven years of designing. But I started writing about it recently. Here are some:</p>

<ul class="post_list">
  {% for post in site.posts %}
  {% if post.category != 'talks' %}
  {% if post.category == 'design' %}
  <li class="post">
  <a href="{{ post.url }}" class="entry-title">
    <div class="post_meta">
    <date class=""><i class="icon icon-calendar"></i>{{ post.date | date: "%d %b %Y" }}</date>
    </div>
    {{ post.title }}
  </a>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
</ul>

