---
layout: post
title: Notes on Design 
slug: design_archives
---
<p>I started designing when I was in high-school. That's 7+ years of designing! Took me a long while to get started on writing about design.</p>

<ul class="post_list">
  {% for post in site.posts %}
  {% if post.category != 'talks' %}
  {% if post.category == 'design' %}
  <li class="post">
  <a href="{{ post.url }}" class="entry-title">
    <div class="post_meta">
    <date class=""><i class="icon icon-calendar"></i>{{ post.date | date: "%d %b %Y" }}</date>
    </div>
    {{ post.title }}
  </a>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
</ul>

