// Home Page
// ----------
@import "settings.foundation";

#hero {

  @include breakpoint(medium up) {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  };

  .pre-header {
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.5rem;
    line-height: 0.75rem;
    font-size: 0.75rem;
  }

  .headline {
    font-weight: bold;
    letter-spacing: -1.3;
    line-height: 1em;

    @include breakpoint(mediup up) {
      margin-top: 0;
      margin-bottom: 1rem;
    };
  }

  .subheader-2 {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
}
