// Home Page
// ----------
@import "settings.foundation";

#hero {

  @include breakpoint(medium up) {
    margin-top: 6rem;
    margin-bottom: 6rem;
  };

  @include breakpoint(small only) {
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
  }

  .pre-header {
    font-weight: normal;
    text-transform: lowercase;
    display: block;
    margin-bottom: 0.5rem;
    line-height: 1rem;
    font-size: 1rem;
    letter-spacing: 0px;
  }

  .headline {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.4em;
    margin-bottom: 1rem;
    text-transform: lowercase;

    @include breakpoint(medium up) {
      letter-spacing: -2px;
      margin-top: 0;
    };

    @include breakpoint(small only) {
      font-size: 2.5rem;
      letter-spacing: -0.5px
    }
  }

}

.headline--section {
  text-transform: lowercase;
  letter-spacing: normal;
  border-top: 2px solid $grey;
  font-size: 2.5rem;
  line-height: 1em;
  padding: 4rem 0;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
