// Home Page
// ----------
@import "settings.foundation";

#hero {

  @include breakpoint(medium up) {
    margin-top: 6rem;
    margin-bottom: 6rem;
  };

  @include breakpoint(small only) {
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
  }

  .pre-header {
    text-transform: lowercase;
    display: block;
    margin-bottom: 0.5rem;
    line-height: 1rem;
    font-size: 1.5rem;
  }

  .headline {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1.4em;
    margin-bottom: 1rem;
    text-transform: lowercase;
  }

}

.headline--section {
  text-transform: lowercase;
  letter-spacing: normal;
  border-top: 2px solid $grey;
  font-size: 2.2rem;
  line-height: 1em;
  padding: 4rem 0 2.75rem 0;
  margin-top: 0;
}
