
<div id="social_area" class="grid-container">
  <div class="grid-x grid-margin-x" id="social">
    <p class="no-bullet text-center [ cell small-12 ]" id="socialfollow">
      <a href="https://twitter.com/kingsidharth/" target="_blank">Twitter</a>  &nbsp;&middot;&nbsp;
      <a href="https://www.linkedin.com/in/kingsidharth/" target="_blank">LinkedIn</a>  &nbsp;&middot;&nbsp;
      <a href="https://medium.com/@kingsidharth" target="_blank">Medium</a>  &nbsp;&middot;&nbsp;
      <a href="https://instagram.com/kingsidharth" target="_blank">Instagram</a>
    </p>
  </div>
</div>
<!-- #social_area -->

<div id="footer_area" class="grid-container">
  <div class="grid-x grid-margin-x" id="footer">
    <div class="cell small-12 medium-6">&copy; {{ 'now' | date: "%Y" }}
      <a href="http://www.kingsidharth.com" rel="author">@kingsidharth</a><a href="https://plus.google.com/100630005600562803456/" rel="author">.</a>
      <a href="/about">About 64 Notes</a>
    </div>
    <div class="cell small-12 medium-6 alt">
      <a href="/colophon">Colophon</a> &middot; <a href="https://github.com/64Notes/64notes.com" rel="nofollow">Code on Github</a>
    </div>
  </div>
  <!-- #footer -->
</div>
<!-- #footer_area -->
