<div id="social_area" class="grid-container">
  <div class="grid-x grid-margin-x" id="social">
    <ul class="no-bullet text-center [ cell small-12 ]" id="socialfollow">
      <li>Best way to get in touch:</li>
      <li>
        <a href="https://twitter.com/kingsidharth">Twitter</a> or
        <a href="#">Email</a>.
      </li>
      <li>For stalking:</li>
      <li>
        <a href="#">Instagram</a> &middot; &nbsp;
        <a href="#">Medium</a> &middot; &nbsp;
        <a href="#">Facebook</a>
      </li>
    </ul>
  </div>
</div>
<!-- #social_area -->

<div id="footer_area" class="grid-container">
  <div class="grid-x grid-margin-x" id="footer">
    <div class="cell small-12 medium-6">&copy; {{ 'now' | date: "%Y" }}
      <a href="#">@kingsidharth</a><a href="https://plus.google.com/100630005600562803456/" rel="author">.</a>
    </div>
    <div class="cell small-12 medium-6 text-right">
      <a href="/colophon">Colophon</a> &middot; <a href="#">Code on Github</a>
    </div>
  </div>
  <!-- #footer -->
</div>
<!-- #footer_area -->

<link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic" rel="stylesheet" type="text/css">
<script src="/assets/scripts/scripts.js"></script>

<script>
  var documentData = {
    "url": document.URL,
    "title": "{{ page.title }}",
    "category": {% if page.category %}"{{ page.category }}" {% else %} false {% endif %},
    "environment": "{{ site.env }}"
  }
</script>

<!-- Google Analytics Code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(["_setAccount", "UA-4910697-16"]);
  _gaq.push(["_setDomainName", "64notes.com"]);
  _gaq.push(["_trackPageview"]);
  (function() {
   var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
   ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
   var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
