<div id="social_area" class="grid-container">
  <div class="grid-x grid-margin-x" id="social">
    <ul class="no-bullet text-center [ cell small-12 ]" id="socialfollow">
      <li>Best way to get in touch:</li>
      <li>
        <a href="https://twitter.com/kingsidharth"  target="_blank">Twitter</a> or
        contact &lt;at&gt; kingsidharth.com.
      </li>
      <li>For stalking:</li>
      <li>
        <a href="https://instagram.com/kingsidharth" target="_blank">Instagram</a> &middot; &nbsp;
        <a href="https://medium.com/@kingsidharth" target="_blank">Medium</a> &middot; &nbsp;
        <a href="https://facebook.com/kingsidharth" target="_blank">Facebook</a>
      </li>
    </ul>
  </div>
</div>
<!-- #social_area -->

<div id="footer_area" class="grid-container">
  <div class="grid-x grid-margin-x" id="footer">
    <div class="cell small-12 medium-6">&copy; {{ 'now' | date: "%Y" }}
      <a href="http://www.kingsidharth.com" rel="author">@kingsidharth</a><a href="https://plus.google.com/100630005600562803456/" rel="author">.</a>
    </div>
    <div class="cell small-12 medium-6 text-right">
      <a href="/colophon">Colophon</a> &middot; <a href="https://github.com/64Notes/64notes.com" rel="nofollow">Code on Github</a>
    </div>
  </div>
  <!-- #footer -->
</div>
<!-- #footer_area -->
