<header id='header_area' class="grid-container">
  <div class='grid-x grid-margin-x' id='header'>

    <div class="cell medium-3 small-6">
      <h2 id="logo">
        64 Notes
      </h2>
    </div>

    <div class="cell small-6 show-for-small-only text-right">
      <ul class="menu align-right">
        <li><a href="#" onclick="return open_navigation()">menu</a></li>
      </ul>
    </div>

    {% include components/navigation.html %}

    <div class="cell small-12 divider"></div>

  </div><!-- #header -->
</header><!-- #header_area -->
