<nav class="[ cell medium-9 small-12 ]" id="main_navigation">
  <ul class='[ menu  ]' data-nav-title="Navigation">
    <li class="show-for-small-only">
      <a href="#" onclick="return close_navigation()">
        Close
        <svg class="icon icon--arrow_forward" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg>
      </a>
    </li>

    <li>
      <a {% if page.slug == 'home' %}class="is-active"{%endif%} href='/'>
        Home
      </a>
    </li>

    <li>
      <a {% if page.slug == 'archives' %}class="is-active"{% endif %} href='/archives'>
        Essays & Notes
      </a>
    </li>


    <li>
      <a {% if page.category == 'talks' or page.slug == 'speaking' %}class="is-active"{% endif %}
        href='https://www.kingsidharth.com/speaking/'
        target="_blank">
        Talks
      </a>
    </li>

    {% comment %}
    <li>
      <a {% if page.category == 'design' or page.slug == 'design_archives' %}class="is-active"{% endif %} href='/design'>
        Design
      </a>
    </li>
    {% endcomment %}

    <li>
      <a href="https://mailchi.mp/6ae07cdfd463/64nn_sub" title="View previous campaigns" target="_blank">
        Newsletter
      </a>
    </li>

  </ul>
</nav>
<!-- .nav-bar -->
