<nav class="[ cell medium-9 small-12 ]">
  <ul class='[ menu align-right ]' data-nav-title="Navigation">
    <li>
    <a {% if page.slug == 'home' %}class="is-active"{%endif%} href='/'>Home</a>
    </li>
    <li>
    <a {% if page.slug == 'about' %}class="is-active"{% endif %} href='/about'>About</a>
    </li>
    <li>
    <a {% if page.category == 'talks' or page.slug == 'speaking' %}class="is-active"{% endif %} href='/speaking'>Speaking</a>
    </li>
    <li>
    <a {% if page.category == 'design' or page.slug == 'design_archives' %}class="is-active"{% endif %} href='/design'>Design</a>
    </li>
    <li>
    <a {% if page.slug == 'archives' %}class="is-active"{% endif %} href='/archives'>Archives</a>
    </li>
  </ul>
</nav>
<!-- .nav-bar -->
