<div id="hero_area" class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="[ cell small-12 ][ text-center ]" id="hero">
      <h1 class="headline">Talks by King Sidharth</h1>
    </div>
  </div>

  <hr class="divider-2">
</div>

<div id="intro_area" class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="[ cell small-12 medium-8 ]">
      <div class="show-for-medium" style="text-align: center;">
        <iframe
          width="520"
          height="336"
          src="https://www.youtube-nocookie.com/embed/8qmJvW5xKjo?rel=0"
          frameborder="0"
          style="margin: 0 auto;"
          allowfullscreen>
        </iframe>
      </div>
      <div class="show-for-small-only" style="text-align: center;">
        <iframe
          width="320"
          height="170"
          src="https://www.youtube-nocookie.com/embed/8qmJvW5xKjo?rel=0"
          frameborder="0"
          style="margin: 0 auto;"
          allowfullscreen>
        </iframe>
      </div>
    </div>

    <div class="[ cell small-12 medium-4 ]">
      <p style="margin-bottom: 1em;">
        About design, products, startups, and money.
      </p>
      <p class="subheader-2" style="margin-bottom: 1em;">Spoken at colleges like
        <strong>VJTI, BITS Goa, NMIMS, VIT, KNC, NITs, and TEDx</strong>
      </p>
      <p class="subheader-2">Talked about design at
        <strong>Design Day, The UX Project, Startup Saturday, BarCamp, and WordCamps</strong>
      </p>

    </div>

  </div>
</div><!-- #intro_area -->

<div id="intro_area_2" class="grid-container">
  <p><hr class="divider-2"></p>
  <div class="grid-x grid-margin-x">

    <div class="[ cell small-12 medium-4 ]">
      <p class="subheader-2">
        Got an invitation? Email me at: <a href="mailto:me@kingsidharth.com">me@kingsidharth.com</a>
      </p>
    </div>

    <div class="[ cell small-12 medium-6 ]">
    </div>
  </div>
</div><!-- #hero -->
