<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head 
    {% if page.type == 'post' %}
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# 
    article: http://ogp.me/ns/article#"
    {% endif %} >
    <title>{{ page.title }}</title>
    <!-- stylesheets -->
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <!-- scripts -->
    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
    <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico" /> 
      <!-- Open Graph Data -->
      <meta property="fb:app_id"               content="171634969647127">     
      <meta property="og:image"                content="http://www.64notes.com/images/64notes-logo.png">
    {% if page.type == 'post' %}
      <meta property="og:type"                 content="article"> 
      <meta property="og:url"                  content="http://www.64notes.com{{ page.url }}">
      <meta property="og:site_name"            content="64 Notes">
      <meta property="og:title"                content="{{ page.title }}">
      <meta property="article:author"          content="http://www.kingsidharth.com">
    {% else %}
      <meta property="og:type"                 content="blog"> 
      <meta property="og:url"                  content="http://www.64notes.com"> 
      <meta property="og:image"                content="URL to an image">
      <meta property="og:title"                content="64 Notes">
    {% endif %}
    <!-- others -->
  </head>
  <body class="{{ page.slug }}">
    <div id='header_area'>
      <div class='area' id='header'>
        <div class='gw'>
          {% if page.slug != 'home' %}
          <!-- Display this menu only if NOT on Home Page -->
          <ul class='nav g one-whole'>
            <li class='name'>
              <a href='{{ site.url }}' id='logo'>64 Notes</a>
            </li>
            <li>
              <a href='{{ site.url }}'>Home</a>
            </li>
            <li>
              <a href='{{ site.url }}/about'>About</a>
            </li>
            <li>
              <a href='{{ site.url }}/speaking'>Speaking</a>
            </li>
            <li>
              <a href='{{ site.url }}/archives'>Archives</a>
            </li>
          </ul>
          <!-- .nav-bar -->
          {% endif %}
        </div>
      </div>
    </div>
    <!-- #header_area -->
    <div id='content_area'>
      <div class='area' id='content'>
        <div class='gw'>
          {{ content }}
        </div>
      </div>
    </div>
    <!-- #content_area -->
    <div id='social_area'>
      <div class='area' id='social'>
        <div class='gw'>
          {% if page.type == 'post' %}          
          <ul class='nav--fit one-whole' id='socialshare'>
            <li class='name'>
              Liked what you read?
            </li>
            <li class='fb'>
              <div id='fb-root'></div>
              <div class="fb-like" data-send="false" data-layout="button_count"  data-show-faces="false" data-action="recommend" data-href="http://www.64notes.com{{ page.url }}"></div>
            </li>
            <li class='twitter'>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.64notes.com{{ page.url }}" data-via="kingsidharth" data-related="kingsidharth">Tweet</a>
            </li>  
          </ul>
          <!-- #socialshare -->
          <hr />
          {% endif %}          
          <ul class='nav--fit one-whole' id='socialfollow'>
            <li class='name'>
              Loved what you read?
            </li>
            <li class='fb'>
              <div class="fb-subscribe" data-href="https://www.facebook.com/kingsidharth" data-layout="button_count" data-show-faces="false" data-colorscheme="dark" data-font="lucida grande" data-width="450"></div>
            </li>
            <li class='twitter'>
              <a href="https://twitter.com/kingsidharth" class="twitter-follow-button" data-show-count="false">Follow @kingsidharth</a>
            </li>      
          </ul>
        </div>
      </div>
      <!-- #social.area -->
    </div>
    <!-- #social_area -->
    <div id='footer_area'>
      <div class='area' id='footer'>
        <p>
        by <a href="http://www.kingsidharth.com" rel="author">King Sidharth</a><a href="https://plus.google.com/100630005600562803456/" rel="author">.</a> | &copy; 2010-12 | <a href="/colophon">Colophon</a>
        </p>
      </div>
      <!-- #footer -->
    </div>
    <!-- #footer_area -->
    <!-- Google Analytics Code -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4910697-16']);
      _gaq.push(['_setDomainName', '64notes.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" src="http://use.typekit.net/qwv5oql.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>    
  </body>
  <!-- body -->
  <script type='text/javascript'>
    //<![CDATA[
      //Async Social Sharing Button JS
      (function(doc, script) {
        var js, 
            fjs = doc.getElementsByTagName(script)[0],
            frag = doc.createDocumentFragment(),
            add = function(url, id) {
                if (doc.getElementById(id)) {return;}
                js = doc.createElement(script);
                js.src = url;
                id && (js.id = id);
                frag.appendChild( js );
            };
            
          // Facebook SDK
          add('http://connect.facebook.net/en_US/all.js#xfbml=1&appId=200103733347528', 'facebook-jssdk');
          // Twitter SDK
          add('http://platform.twitter.com/widgets.js');
      
          fjs.parentNode.insertBefore(frag, fjs);
      }(document, 'script'));
    //]]>
  </script>
</html>
