<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head 
    {% if page.type == 'post' %}
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# 
    article: http://ogp.me/ns/article#"
    {% endif %} >
    <title>{{ page.title }}</title>
    <!-- stylesheets -->
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <!-- scripts -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>    
    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
    <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico" /> 
      <!-- Open Graph Data -->
      <meta property="fb:app_id"               content="171634969647127" />       
      <meta property="og:image"                content="http://www.64notes.com/images/64notes-logo.png">
    {% if page.type == 'post' %}
      <meta property="og:type"                 content="article"> 
      <meta property="og:url"                  content="http://www.64notes.com{{ page.url }}">
      <meta property="og:site_name"            content="{{ site.name }}">
      <meta property="og:title"                content="{{ page.title }}">
      <meta property="article:author"          content="http://www.kingsidharth.com">
    {% else %}
      <meta property="og:type"                 content="blog"> 
      <meta property="og:url"                  content="{{ site.url   }}"> 
      <meta property="og:title"                content="{{ site.name }}">
    {% endif %}
    <!-- others -->
    {% if page.category == 'talks' %}
      <link rel="alternate" type="application/rss+xml" href="http://www.64notes.com/speaking/feed.xml" />            
    {% else %}
      <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/64Notes" />        
    {% endif %}
    <meta name="google-site-verification" content="K9OQiuncypaFig7doDL5AXVteG8pLNyWmumfkcCj3qA" />    
  </head>
  <body class="{{ page.slug }} {{ page.category }}"> 
    <div id='header_area'>
      <div class='area' id='header'>
        <div class='gw'>
          {% if page.slug != 'home' %}
          <!-- Display this menu only if NOT on Home Page -->
          <ul class='nav g one-whole'>
            <li class='name'>
              <a href='{{ site.url }}' id='logo'>64 Notes</a>
            </li>
            <li>
              <a href='{{ site.url }}'>Home</a>
            </li>
            <li>
              <a {% if page.slug == 'about' %}
                class="active"
                {% endif %}
                href='{{ site.url }}/about'>About</a>
            </li>
            <li>
            <a {% if page.category == 'talks' %}
              class="active"
              {% endif %}
              href='{{ site.url }}/speaking'>Speaking</a>
            </li>
            <li>
              <a {% if page.slug == 'archives' %}
                class="active"
                 {% endif %}
                href='{{ site.url }}/archives'>Archives</a>
            </li>
          </ul>
          <!-- .nav-bar -->
          {% endif %}
        </div>
      </div>
    </div>
    <!-- #header_area -->
    <div id='content_area'>
      <div class='area' id='content'>
        <div class='gw'>
          {{ content }}
        </div>
      </div>
    </div>
    <!-- #content_area -->
    <div id='social_area'>
      <div class='area' id='social'>
        <div class='gw'>
          {% if page.type == 'post' %}          
          <ul class='nav--fit one-whole' id='socialshare'>
            <li class='name'>
            <h4>Liked what you read?</h4>
            </li>
            <li class='fb'>
              <div id='fb-root'></div>
              <div class="fb-like" data-href="http://www.64notes.com{{ page.url }}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="lucida grande"></div>
            </li>
            <li class='twitter'>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.64notes.com{{ page.url }}" data-via="kingsidharth" data-related="kingsidharth">Tweet</a>
            </li>  
            <li class='buffer'>
            <a href="http://bufferapp.com/add" class="buffer-add-button" data-text="{{post.title}}" data-url="http://www.64notes.com{{ page.url }}" data-count="horizontal" data-via="kingsidharth"  data-picture="http://www.64notes.com/images/64notes-logo.png">Buffer This</a>
            </li>
          </ul>
          <!-- #socialshare -->
          <hr />
          <div class='one-whole g' id='boastful'>
            <h4>C'mon tweet it and get your pretty picture here:</h4>
          </div>
          <!-- #boastful -->          
          <hr />
          {% endif %}          
          <ul class='nav--fit one-whole' id='socialfollow'>
            <li class='name'>
            <h4>Loved what you read?</h4>
            </li>
            <li class='fb'>
              <div class="fb-subscribe" data-href="https://www.facebook.com/kingsidharth" data-layout="button_count" data-show-faces="false" data-colorscheme="light" data-font="lucida grande" data-width="450"></div>
            </li>
            <li class='twitter'>
              <a href="https://twitter.com/kingsidharth" class="twitter-follow-button" data-show-count="false">Follow @kingsidharth</a>
            </li>      
          </ul>
        </div>
      </div>
      <!-- #social.area -->
    </div>
    <!-- #social_area -->
    <div id='footer_area'>
      <div class='area' id='footer'>
        <p>
        by <a href="http://www.kingsidharth.com" rel="author">King Sidharth</a><a href="https://plus.google.com/100630005600562803456/" rel="author">.</a> | &copy; 2010-12 | <a href="/colophon">Colophon</a>
        </p>
      </div>
      <!-- #footer -->
    </div>
    <!-- #footer_area -->
    <!-- Google Analytics Code -->
    <script type="text/javascript" src="/js/jquery.boastful.js"></script>
    <script>
      $(document).ready(function() {
        $('#boastful').boastful({
          location: '{{site.url}}{{ page.url}}',
          empty_message: '<p>What? No one tweeted this one? Gah! No one appreciates my genius!</p>'
        });
      });      
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4910697-16']);
      _gaq.push(['_setDomainName', '64notes.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
  <!-- body -->
  <script type='text/javascript'>
  (function() {
    var config = {
      kitId: 'qwv5oql',
      scriptTimeout: 3000
    };
    var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
    
    //<![CDATA[
      //Async Social Sharing Button JS
      (function(doc, script) {
        var js, 
            fjs = doc.getElementsByTagName(script)[0],
            frag = doc.createDocumentFragment(),
            add = function(url, id) {
                if (doc.getElementById(id)) {return;}
                js = doc.createElement(script);
                js.src = url;
                id && (js.id = id);
                frag.appendChild( js );
            };
            
          // Facebook SDK
          add('http://connect.facebook.net/en_US/all.js#xfbml=1&appId=200103733347528', 'facebook-jssdk');
          // Twitter SDK
          add('http://platform.twitter.com/widgets.js');
          // Buffer App
          add('http://static.bufferapp.com/js/button.js');
      
          fjs.parentNode.insertBefore(frag, fjs);
      }(document, 'script'));
    //]]>
  </script>
</html>
