---
layout: base
---
{% assign current_year = 'now' | date: '%Y' %}
{% assign post_year = page.date | date: '%Y' %}
{% assign gap_since = current_year | minus: post_year %}
<div class="post is-post podcast" itemscope itemtype="http://schema.org/AudioObject">

  <div id='headline_area' class="grid-container">
    <div id="headline masthead">
      <header class="grid-x grid-margin-x">
        <div class="[ cell small-12 ]">
          <h1 class="[ podcast__title ]" itemprop="name">{{ page.title }}</h1>
          {% if page.subheader %}
          <p class="subheader">
            <span>{{ page.subheader }}</span>
          </p>
          {% endif %}
        </div>
      </header>
    </div>
    <div class="cell small-12 post__meta">
      <date>{{ page.date | date: "%b %d," }} <strong>{{ page.date | date: "%Y" }}</strong></date> &middot;
      <span>{{ page.content | number_of_words }} Words<span> &middot;

      {% if page.spotify_url %}
      <span>
        <a href="{{ page.spotify_url }}" target="_blank" rel="nofollow">
          Listen on Spotify
        </a>
      </span>  &middot;
      {% endif %}

      {% if page.anchor_url %}
      <span>
        <a href="{{ page.anchor_url }}" target="_blank" rel="nofollow">
          More options on Anchor
        </a>
      </span>  &middot;
      {% endif %}
    </div>

    <meta itemprop="encodingFormat" content="audio/mpeg">
    {% if page.mp3_url %}<meta itemprop="contentUrl" content="{{ page.mp3_url }}">{% endif %}
  </div><!-- #headline_area -->

  <div id="embed__area" class="grid-container">
    <div class="[ grid-x grid-margin-x ]">
      <div class="cell small-12">
        <iframe src="{{ page.embed_url }}" width="100%" height="auto" frameborder="0" scrolling="no" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div><!-- #embed__area -->

  <div id="content_area" class="grid-container">
    <div class="grid-x grid-margin-x" id="content">
      <article class="[ cell small-12 ][ post ]" itemprop="transcript">
        {{ content }}
      </article>

    </div><!-- #content -->
  </div><!-- #content_area -->

</div>

<script>
  fbq('track', 'ViewContent');
</script>
