---
layout: base
---
<article>
<div id='headline_area' class="grid">
  <div class='area' id='headline'>
    <header class='grid__item one-whole'>
      <h1 class="post__title">{{page.title}}</h1>
    </header>
  </div>
</div><!-- #headline_area -->
<div id="content_area" class="grid">
  <div class="area" id="content">
    <div class="grid__item one-whole post_content">
      <section class="post__meta">
        {{ page.date | date: "%b %d, %Y" }} &middot; {{ page.content | number_of_words }}
      </section>
      {{content}}
      {%if page.date %}
      <footer class="post__meta">
      </footer>
      {%endif%}
    </div>
  </div>
</div><!-- #content_area -->
</article>
