---
layout: base
---
<article>
<div id='headline_area' class="grid">
  <div class='area' id='headline'>
    <header class='grid__item one-whole'>
      <h1 class="post__title">{{page.title}}</h1>
    </header>
  </div>
</div><!-- #headline_area -->
<div id="content_area" class="grid">
  <div class="area" id="content">
    <section class="post__meta">
      <div class="grid__item one-half palm-one-whole">
        {{ page.date | date: "%b %d, %Y" }} &middot; {{ page.content | number_of_words }} words
      </div><!--
      --><ul class="grid__item one-half right nav desk-show no-bottom-margin">
        <li><a onclick="return tweet_click()" href="#">Tweet</a></li>
        <li> &middot; </li>
        <li><a onclick="return fb_click()" href="#">Share</a></li>
      </ul>
    </section>
    <section class="grid__item one-whole">
      {{content}}
    </section>
  </div>
</div><!-- #content_area -->
</article>
