---
layout: base
---
<div id="headline_area">
  <div class=area id=headline>
    <div class=grid>
      <div class="talk-details" itemscope itemtype="http://data-vocabulary.org/Event">
        <div class='headline_area grid__item one-whole'>
          <span>On</span>
          <h1>
            {{ page.title }}
          </h1>
          <span>at</span>
          <h2 itemprop="summary">
            {% if page.evlink %}
            <a href="{{ page.evlink }}" itemprop="link">
            {% endif %}
            {{ page.event }}
            {% if page.evlink %}
            </a>
            {% endif %}
          </h2>
          <p class='place' itemprop='location'>{{ page.place }}</p>
          <span>on</span>
          <p itemprop="startDate" datetime="{{ page.date }}" class='date'>
          {{ page.date | date: "%d %b" }},
          <strong>{{ page.date | date: "%Y" }}</strong>
          </p>
        </div><!-- .headline_area -->
      </div><!-- .talk_details -->
    </div>
  </div>
</div><!-- #headline_area -->
<div id=event_detail_area>
  <div class=area id=event_detail>
    <div class=grid>
      <div class='post_content grid__item one-whole'>
        {{ content }}            
      </div>
    </div>
  </div>
</div><!-- #event_detail_area -->

