---
layout: base
---
<div id="headline_area" class="grid">
  <div class="area">
    <div class="post talk--single grid__item one-whole center" itemscope itemtype="http://data-vocabulary.org/Event">
      <span>On</span>

      <h1 class="post__title">
        {{ page.title }}
      </h1>

      <span>at</span>

      <h2 class="talk__event" itemprop="summary">
        {% if page.evlink %}
        <a href="{{ page.evlink }}" itemprop="link">
        {% endif %}
          {{ page.event }}
        {% if page.evlink %}
        </a>
        {% endif %}
      </h2>

      <span class="post__meta talk__location" itemprop='location'>{{ page.place }}</span>

      <span> on </span>

      <span itemprop="startDate" datetime="{{ page.date }}" class="post__meta talk__date">
      {{ page.date | date: "%d %b" }},
      <strong>{{ page.date | date: "%Y" }}</strong>
      </span>

    </div>
  </div>
</div><!-- #headline_area -->
<div id=event_detail_area class="grid">
  <div class=area id=event_detail>
    <div class='post_content grid__item one-whole'>
      {{ content }}            
    </div>
  </div>
</div><!-- #event_detail_area -->

