<div class="circular-container">
  <div class="circular circular--size-6"></div>
  <div class="circular circular--size-8"></div>
  <div class="circular circular--size-10"></div>
  <div class="circular circular--size-12"></div>
  <div class="circular circular--size-14"></div>
  <div class="circular circular--size-16"></div>
  <div class="circular circular--size-18"></div>
  <div class="circular circular--size-20"></div>
  <div class="circular circular--size-22"></div>
  <div class="circular circular--size-24"></div>
  <div class="circular circular--size-26"></div>
  <div class="circular circular--size-28"></div>
  <div class="circular circular--size-30"></div>
  <div class="circular circular--size-32"></div>
  <div class="circular circular--size-34"></div>
</div><!-- .circular-container -->
