<ul class="menu vertical">
  <li>
    <a href="https://www.bloomberg.com/news/articles/2015-04-27/the-best-and-worst-fonts-to-use-on-your-r-sum-" target="_blank" rel="nofollow">
      Bloomberg
    </a>
  </li>
  <li>
    <a href="http://oedb.org/ilibrarian/24-blogs-for-young-entrepreneurs/" target="_blank" rel="nofollow">
      Open Education Database
    </a>
  </li>
  <li>
    <a href="http://www.makeuseof.com/tag/10-awesome-inspiring-blogs-entrepreneurs-business-owners/" target="_blank" rel="nofollow">
      Make Use Of
    </a>
  </li>
  <li>
    <a href="http://www.creativebloq.com/design/designer-says-stop-using-helvetica-and-arial-5135619" target="_blank" rel="nofollow">
      Creative Bloq | .net Magazine
    </a>
  </li>
</ul>
