<div class="grid-x grid-margin-x">
  <div class="[ cell small-12 medium-7 medium-offset-5 ]" id="hero">

    <h2 class="headline"><span class="pre-header">Notes on </span> Startups, Design, &amp; Philosophy</h2>

    <hr class="divider-2">

    <p class="subheader-1">Written by <a href="#">@kingsidharth</a>, who is mostly found solving problems at <a href="#">Instamojo</a>.</p>

    <div class="[ grid-x grid-margin-x ]">
      <p class="subheader-2 [ cell small-6 ]">
        Otherwise, <a href="#">speaking to students</a> about entrepreneurship, career, and life choices.
      </p>
      <p class="subheader-2 [ cell small-6 ]">
        Or at events, startups &amp; companies about design.
      </p>
    </div>

  </div>
  <hr class="divider-4 cell small-12">
</div><!-- #hero -->
